<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Exercise Log</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div>
      <nav
        class='navbar'
        role='navigation'
        aria-label='main-navigation'
      >
        <div class='navbar-brand'>
          <a class='navbar-item' href='/'>
            <h1>myWorkoutLog</h1>
          </a>
          <a
            role='button'
            class='navbar-burger burger'
            id='burger'
            aria-label='menu'
            aria-expanded='false'
            onclick='toggleBurger()'
          >
            <span aria-hidden='true'></span>
            <span aria-hidden='true'></span>
            <span aria-hidden='true'></span>
          </a>
        </div>
        <div class='navbar-menu' id='navbar-menu'>
          <div class='navbar-end'>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
              <a class='navbar-item' id='create-btn'>create post</a>
              <a class='navbar-item' href='/'>dashboard</a>
              <a class='navbar-item' href='/profile'>profile</a>
              <a class='navbar-item' id='logout'>logout</a>
            {{else}}
              <a class='navbar-item' href='/login'>login</a>
            {{/if}}
          </div>
        </div>
      </nav>
      {{! modal }}
      <div class='modal'>
        <div class='modal-background'></div>
        <div class='modal-card'>
          <header class='modal-card-head'>
            <p class='modal-card-title'>Tell us about your workout!</p>
            <button class='delete' id='delete-btn' aria-label='close'></button>
          </header>
          <section class='modal-card-body'>
            <form class='new-exercise-form'>
              <div class='field'>
                <label class='label'>What did you do?</label>
                <div class='control'>
                  <input
                    class='input'
                    id='exercise-name'
                    type='text'
                    placeholder='Text input'
                  />
                </div>
              </div>

              <div class='field'>
                <label class='label'>How many miles did you go?</label>
                <div class='control'>
                  <input
                    class='input'
                    id='exercise-distance'
                    type='text'
                    placeholder='Text input'
                  />
                </div>
              </div>

              <div class='field'>
                <label class='label'>How many hours did you work out for?</label>
                <div class='control'>
                  <input
                    class='input'
                    id='exercise-time'
                    type='text'
                    placeholder='Text input'
                  />
                </div>
              </div>

              <div class='field'>
                <label class='label'>Tell us about it!</label>
                <div class='control'>
                  <textarea
                    class='textarea'
                    id='exercise-desc'
                    placeholder='Textarea'
                  ></textarea>
                </div>
              </div>
          <footer class='modal-card-foot'>
            <button class='button is-link' name='submit'>Submit</button>
            <button class='button' id='cancel-btn'>Cancel</button>
          </footer>
            </form>
          </section>
        </div>
      </div>
      <main class="is-flex-wrap-wrap">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer class='footer'>
        <div class='content has-text-centered has-text-white'>
          <p>Copyright © 2021 Eric, Prany, Jordan, Guled. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script src='/js/profile.js'></script>
    <script src='/js/modal.js'></script>
    <script src='/js/navbar.js'></script>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>